@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Lora", serif;
  letter-spacing: 1px;
}

button {
  position: relative;
  left: 31%;
  background: #203a43;
  color: white;
  height: 22px;
}

.userDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  padding: 6em 0;
  background: #0f2027;
  flex-wrap: wrap;
}

.user {
  height: 10em;
  width: 20em;
  background: #2c5364;
  border: 2px solid #8cc7af;
  box-shadow: 9px 9px 10px;
  padding: 7px 0;
  border-radius: 11px;
}

.details {
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 8px;
  margin: 5.5px 3px 7px 6px;
}
